
.apod>img{

    /* max-height: 80vh; */
    width: 100%;
    height: 100%;
}

.apod>h1{
    font-size: 18px;
}
.apod{
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    height: 100%;
}

.apodPost{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.apodImg{
    width: 100%;
    height: 100%;
}
.overlay{
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    background-color: rgba(29, 34, 34, 0.61);
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 100%; /* Set the width of the positioned div */
}
