{% extends 'base.html.twig' %}

    {% block title %} API Dock {% endblock %}

    {% block body %}
        <div id="Home">

        </div>
    {% endblock %}

 {% block javascripts %}
     {{ encore_entry_script_tags('home') }}
 {% endblock %}