.messageMain{
    width: 600px;
    height: 800px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}
.chat{
    height: 400px;
    width: 100%;
    border: solid lightgrey 1px;
    overflow: auto;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}